server:
  port: 8080

spring:
  profiles:
    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/shu?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 7165
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB        # 이미지 업로드 대비
      max-request-size: 20MB

  jackson:
    serialization:
      fail-on-empty-beans: false
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE   # 바인딩 값 출력
    org.springframework.web: INFO
    com.shu.backend: DEBUG      # 프로젝트 패키지 기준

jwt:
  secret: c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwK
  access-token-expiration: 3600000        # 1시간 (ms)
  refresh-token-expiration: 1209600000    # 14일 (ms)

cors:
  allowed-origins: "http://localhost:3000, https://your-app-domain.com"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
  allow-credentials: true

websocket:
  endpoint: "/ws/chat"
  allowed-origins: "*"  # 개발 단계 / 운영 시 실제 도메인만 허용

# 로컬 파일 저장용 설정
file:
  upload-dir:
    student-card: uploads/student-card   # 실제 로컬 폴더 (프로젝트 기준)
    chat: uploads/chat
  storage:
    bucket: local-bucket                 # 로컬에선 의미 거의 없음
    student-card-dir: student-card
    base-url: http://localhost:8080/uploads


  # S3 기반 파일 스토리지 설정
#  file:
#    storage:
#      bucket: shu-student-card                # 실제 S3 버킷명
#      student-card-dir: student-card          # S3 내부 디렉토리(prefix)
#      base-url: https://cdn.schoolhubu.com    # CloudFront or S3 정적 URL


#file:
#  chat-dir: chat
#  student-card-dir: student-card
#  base-url: https://...
#  bucket: ...


# 배포 추후 RealSmsProvider로 교체
#sms:
#  sens:
#    access-key: ${NCP_ACCESS_KEY}
#    secret-key: ${NCP_SECRET_KEY}
#    service-id: ${NCP_SENS_SERVICE_ID}
#    from: ${SMS_FROM}